{% extends "auth_layout.html" %}

{% block content %}

<div class="card shadow">

<h3 class="text-center mb-4">Login</h3>

{% if error %}

<div class="alert alert-danger">

{{ error }}

</div>

{% endif %}

<form method="POST">

<input
type="email"
name="email"
class="form-control mb-3"
placeholder="Email"
required
>

<input
type="password"
name="password"
class="form-control mb-3"
placeholder="Password"
required
>

<button class="btn btn-primary w-100">

Login

</button>

</form>

<div class="text-center mt-3">

<a href="/register">

Create new account

</a>

</div>

</div>

{% endblock %}