{% extends "base.html" %}

{% block content %}

<div class="login-box">

<h2>Login</h2>

{% if error %}
<p style="color:red; text-align:center;">{{ error }}</p>
{% endif %}

{% if success %}
<p style="color:green; text-align:center;">{{ success }}</p>
{% endif %}

<form method="POST">

<input type="email" name="email" placeholder="Email" required>

<input type="password" name="password" placeholder="Password" required>

<button type="submit">Login</button>

</form>

<p>New user? <a href="/register">Register</a></p>

</div>

{% endblock %}